/* You can add global styles to this file, and also import other style files */
html {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    padding: 1rem;
}

@media (min-width: 768px) {
    body { padding: 1rem 5rem; }
}

// This shouldn't be here
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons";
