<body>
  <h1>Welcome to video-player-demo!</h1>
  <video-player [width]="width" [height]="height" [autoplay]="true" [url]="url" (progressChange)="onProgressChange($event)" [(volume)]="volume" [(mute)]="isMuted" [(playerState)]="playerState" (isPipChange)="isPip = $event" #player1></video-player>
  <br>
  <label>{{ progress.currentTime }}</label>
  <br>
  <ng-container *ngFor="let video of videos">
    <a href (click)="playVideo(video)">{{ video }}</a>
    <br>
  </ng-container>
  <button (click)="getTitle()">Get Title</button>
  <button (click)="setSize()">Set size</button>
  <br>
  <label>
    <input type="checkbox" [checked]="isMuted" (change)="setMuted($event)">
    Mute
  </label>
  <br>
  <label>{{ volume | number: '0.0' }}</label>
  <input type="range" min="0" max="100" [(ngModel)]="volume">
  <br>
  <br>
  <button (click)="requestPip()" *ngIf="!isPip">Enter PiP</button>
  <button (click)="exitPip()" *ngIf="isPip">Leave PiP</button>
  <table>
    <tr>
      <td colspan="4">
        {{ playerStates[playerState] }}
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button (click)="play()" *ngIf="playerState == playerStates['paused']">Play</button>
        <button (click)="pause()" *ngIf="playerState == playerStates['playing']">Pause</button>
      </td>
    </tr>
  </table>
</body>