<bs-navbar #nav>
    <bs-navbar-brand [routerLink]='["/"]'>
        <span class="brand d-block px-3 pb-3 pt-3">
            ng-video-player
        </span>
    </bs-navbar-brand>
    <bs-navbar-nav [collapse]="true">
        <bs-navbar-item>
            <a [routerLink]='["/youtube"]'>YouTube player</a>
        </bs-navbar-item>
        <bs-navbar-item>
            <a [routerLink]='["/dailymotion"]'>DailyMotion player</a>
        </bs-navbar-item>
        <bs-navbar-item>
            <a [routerLink]='["/vimeo"]'>Vimeo player</a>
        </bs-navbar-item>
        <bs-navbar-item>
            <a [routerLink]='["/soundcloud"]'>SoundCloud player</a>
        </bs-navbar-item>
        <bs-navbar-item>
            <a [routerLink]='["/video"]'>Video player</a>
        </bs-navbar-item>
        <bs-navbar-item>
            <a [routerLink]='["/playlist"]'>Playlist</a>
        </bs-navbar-item>
    </bs-navbar-nav>
    <bs-navbar-nav class="me-0">
        <bs-navbar-item>
            <a class="nav-link text-nowrap" href="https://github.com/MintPlayer/mintplayer-ng-video-player" title="@mintplayer/ng-video-player on GitHub">
                <span class="me-2 align-middle">{{ versionInfo }}</span>
                <img src="/assets/github.svg" alt="@mintplayer/ng-video-player on GitHub">
            </a>
        </bs-navbar-item>
    </bs-navbar-nav>
</bs-navbar>
<div [navbarContent]="nav" style="padding-top:10px">
    <h1 class="text-center">{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>