<body>
  <h2>Welcome to {{ title }}!</h2>
  <bs-grid>
    <div bsRow>
      <div [bsColumn]="{md: 6}">
        <video-player [width]="800" [height]="600" [url]="'https://youtube.com/watch?v=jNQXAC9IVRw'" [(mute)]="mute" #player1></video-player>
      </div>
      <div [bsColumn]="{md: 6}">
        <video-player [width]="800" [height]="600" [url]="'https://youtube.com/watch?v=tt2k8PGm-TI'" [(mute)]="mute" #player1></video-player>
      </div>
    </div>
  </bs-grid>
  <!-- <button [color]="colors.secondary" (click)="playVideo()">Play video</button> -->
  <!-- [color]="colors.secondary" -->
</body>