<h2 class="text-center">Welcome to {{ title }}!</h2>
<bs-form>
  <bs-grid>
    <div bsRow class="mb-3">
      <div [lg]="6">
        <bs-list-group class="d-block mb-3">
          @for (video of videos; track video) {
            <bs-list-group-item (click)="playVideo(video)" class="cursor-pointer overflow-hidden text-truncate truncate-start">{{ video }}</bs-list-group-item>
          }
        </bs-list-group>
        <bs-input-group>
          <input type="text" [(ngModel)]="newVideoUrl" class="form-control">
          <button [color]="colors.primary" (click)="addToPlaylist()">Add</button>
        </bs-input-group>
      </div>
      <div [lg]="6">
        @if ((url$ | async) === 'https://mintplayer.com/Modern-iMovie-8ot-eJxH2yc.mp4') {
          <div class="d-block">
            <bs-alert [type]="colors.warning">
              <a href="https://www.youtube.com/watch?v=8ot-eJxH2yc" target="_blank">Modern</a> is a melody from <a href="https://apps.apple.com/nl/app/imovie/id377298193" target="_blank">IMovie</a> by <a href="https://www.apple.com" target="_blank">Apple Inc</a>.
            </bs-alert>
          </div>
        }
        @if ((url$ | async) === 'https://mintplayer.com/Jim_Yosef_Firefly_pt_II.mp3') {
          <div class="d-block">
            <bs-alert [type]="colors.warning">
              Song: <a href="https://ncs.io/Fireflypt2" target="_blank">Jim Yosef - Firefly pt. II (ft. STARLYTE)</a> [NCS Release]
              <br>
                Music provided by <a href="https://ncs.io" target="_blank">NoCopyrightSounds</a>
                <br>
                  Free Download/Stream: <a href="http://NCS.io/Fireflypt2" target="_blank">http://NCS.io/Fireflypt2</a>
                  <br>
                    <a href="http://youtu.be/Q7E4Hiqe1s4" target="_blank">Watch</a>
                  </bs-alert>
                </div>
              }
              <div class="d-block text-center">
                <video-player [width]="width" [height]="height" [autoplay]="true"
                  (progressChange)="onProgressChange($event)" [(volume)]="volume" [(mute)]="isMuted" [(playerState)]="playerState"
                  (playerStateChange)="onPlayerStateChange($event)" [(isPip)]="isPip" [(isFullscreen)]="isFullscreen"
                (capabilitiesChange)="onCapabilitiesChange($event)" #player1></video-player>
              </div>
              <div bsRow>
                <div [md]="6" class="text-center">
                  <label>{{ progress.currentTime }} / {{ progress.duration }}</label>
                </div>
                <div [md]="6" class="text-center">
                  {{ playerStates[playerState] }}
                  <br>
                    @if (playerState === playerStates['paused']) {
                      <button (click)="play()" [color]="colors.secondary">Play</button>
                    }
                    @if (playerState === playerStates['playing']) {
                      <button (click)="pause()" [color]="colors.secondary">Pause</button>
                    }
                  </div>
                </div>
                <div bsRow>
                  <div [md]="6" class="text-center">
                    <label>
                      <label>{{ volume | number: '0.0' }}</label>
                      <bs-range [(ngModel)]="volume" [disabled]="(cannotChangeVolume$ | async) ?? true" [min]="0" [max]="100" [step]="1"></bs-range>
                    </label>
                  </div>
                  <div [md]="6" class="text-center">
                    <bs-toggle-button [type]="'checkbox'" [(ngModel)]="isMuted" [disabled]="(cannotMute$ | async) ?? true" class="d-inline-block py-3">
                      Mute
                    </bs-toggle-button>
                  </div>
                </div>
                <div bsRow>
                  <div [md]="6" class="text-center">
                    <bs-toggle-button [type]="'checkbox'" [(ngModel)]="isPip" [disabled]="(cannotPip$ | async) ?? true" class="d-inline-block py-3">
                      PiP
                    </bs-toggle-button>
                  </div>
                  <div [md]="6" class="text-center">
                    <bs-toggle-button [type]="'checkbox'" [(ngModel)]="isFullscreen" [disabled]="(cannotFullscreen$ | async) ?? true" class="d-inline-block py-3">
                      Fullscreen
                    </bs-toggle-button>
                  </div>
                </div>
                <div class="d-block text-center">
                  <bs-button-group>
                    <button (click)="getTitle()" [color]="colors.secondary" [disabled]="(cannotGetTitle$ | async)">Get Title</button>
                    <button (click)="setSize()" [color]="colors.secondary">Set size</button>
                    <button (click)="shareModalVisible = true" [color]="colors.secondary">Create share link</button>
                  </bs-button-group>
                </div>
              </div>
            </div>
          </bs-grid>
        </bs-form>
        <bs-modal [(isOpen)]="shareModalVisible">
          <div *bsModal>
            <div bsModalHeader>
              <span class="h5 modal-title flex-grow-1">Create share link</span>
              <bs-close bsModalClose></bs-close>
            </div>
            <div bsModalBody>
              <bs-grid>
                <bs-form>
                  <div bsRow>
                    <div [xxs]>
                      <label [bsFor]="txtShareLink">Paste your link here</label>
                    </div>
                    <div [xxs]>
                      <bs-input-group>
                        <input autofocus #txtShareLink [ngModel]="shareLink$ | async" (ngModelChange)="shareLink$.next($event)">
                        <button [color]="colors.primary" [bsCopy]="shareableLink$ | async" (bsCopied)="closeShareModal()">Copy link</button>
                      </bs-input-group>
                    </div>
                  </div>
                  <div bsRow>
                    <div [xxs]>
                      <label bsColFormLabel>{{ shareableLink$ | async }}</label>
                    </div>
                  </div>
                </bs-form>
              </bs-grid>
            </div>
            <div bsModalFooter>
              <button type="button" bsModalClose class="btn btn-light bg-transparent" aria-label="Close">Close</button>
            </div>
          </div>
        </bs-modal>
        <bs-offcanvas [position]="'bottom'" [isVisible]="(isCopiedToClipboardVisible$ | async)!" (isVisibleChange)="isCopiedToClipboardVisible$.next($event)">
          <div *bsOffcanvasContent class="p-3 bg-dark text-light">Shareable link copied to clipboard</div>
        </bs-offcanvas>