<body>
  <h2>Welcome to {{ title }}!</h2>
  <bs-grid>
    <div bsRow>
      <div [bsColumn]="{md: 6}" class="text-center">
        <bs-button-group>
          <button [color]="colors.secondary" (click)="playVideo()">Play video</button>
          <button [color]="colors.secondary" (click)="isPip = !isPip">Toggle PIP</button>
        </bs-button-group>
      </div>
      <div [bsColumn]="{md: 6}" class="text-center">
        <bs-range [(ngModel)]="volume" [min]="0" [max]="1" [step]="0.01"></bs-range>
        {{ volume }}
      </div>
    </div>
    <div bsRow>
      <div [bsColumn]="{md: 12}" class="text-center">
        <!-- [(isPip)]="isPip" -->
        <video-player [(volume)]="volume" [width]="width" [height]="height" #player1></video-player>
      </div>
    </div>
  </bs-grid>
</body>