<body>
    <h2>Welcome to {{ title }}!</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="btn-group">
            <button class="btn btn-secondary" (click)="playVideo()">Play video</button>
            <button class="btn btn-secondary" (click)="isPip = !isPip">Toggle PIP</button>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <input type="range" [(ngModel)]="volume" min="0" max="1" value="0.5" step="0.01"> {{ volume }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <vimeo-player [videoId]="playedVideoId" [(volume)]="volume" [(isPip)]="isPip" [width]="width" [height]="height" #player1></vimeo-player>
        </div>
      </div>
    </div>
  </body>