<h2 class="text-center">Welcome to {{ title }}!</h2>
<bs-grid>
    <div bsRow class="mb-3">
        <div [bsColumn]="{'xl': 9}" class="text-center">
            <!-- <video-player [width]="400" [height]="300" (playerStateChange)="onPlayerStateChange($event)"
                (progressChange)="onProgressChange($event)" #player></video-player> -->
            <video-player [width]="400" [height]="300" #player></video-player>
            <div class="d-block">
                <button class="float-start" [color]="colors.secondary" (click)="onPrevious()">Previous</button>
                <button class="float-end" [color]="colors.secondary" (click)="onNext()">Next</button>
            </div>
        </div>
        <div [bsColumn]="{'xl': 3}">
            <ul>
                <li *ngFor="let video of playlistController['_actualPlaylist']">
                    {{ video.video.url }}
                </li>
            </ul>
        </div>
    </div>
    <div bsRow class="mb-3">
        <div [bsColumn]="{'xl': 6}">
            <h3>Available tracks</h3>
            <bs-list-group>
                <bs-list-group-item *ngFor="let vid of videos" (click)="addVideoToPlaylist(vid)" class="cursor-pointer">
                    {{ vid.url }}
                </bs-list-group-item>
            </bs-list-group>
        </div>
        <div [bsColumn]="{'xl': 6}">
            <h3>Playlist</h3>
            <bs-list-group>
                <bs-list-group-item *ngFor="let vid of playlistController.playlist">
                    <div class="d-flex">
                        <label class="d-flex flex-grow-1 float-start">
                            <span class="align-self-center uc-icon" *ngIf="(playlistController.video$ | async) === vid">&#9654;</span>
                            <span class="align-self-center flex-grow-1 mx-2" *ngIf="vid">{{ vid.url }}</span>
                        </label>
                        <button (click)="removeVideo(vid)" [color]="colors.secondary" title="Remove" class="float-end">
                            <bs-icon [icon]="'trash-fill'"></bs-icon>
                        </button>
                    </div>
                </bs-list-group-item>
            </bs-list-group>
        </div>
    </div>
    <div bsRow class="mb-3">
        <div [bsColumn]="{'xl': 12}" class="text-center">
            <span>
                <label>
                    Repeat
                    <bs-select [(ngModel)]="repeat">
                        <option *ngFor="let repeatOption of repeatOptions" [ngValue]="repeatOption.id">{{ repeatOption.text }}</option>
                    </bs-select>
                </label>
                <label class="mx-4">
                    <bs-toggle-button [type]="'checkbox'" [isToggled]="shuffle" (change)="shuffle = getChecked($event)">
                        Shuffle
                    </bs-toggle-button>
                </label>
            </span>
        </div>
    </div>
</bs-grid>
